{%extends 'mysite/base.html'%}
{%load static%}
{%block content%}

<div class="text-center">
    <img src="{%static 'mysite/images/logo.jpeg'%}" width="400" height="300" class="rounded" alt="">
    <p><b><font size="7">Yoga is a light which once lit will never dim.</font></b></p>
    <p><b><font size="5">The better your practice, the brighter your flame.</font></b></p>
    <p>Online yoga project is made to spread awareness about the various aasanas. We hope to provide people with
        interesting and relevant site for free. </p>

</div>


{%endblock%}
