{%extends 'mysite/base.html'%}

{%block content%}
{%load static%}

<html>
<body>
<h4><center>Plow Pose: Step-by-Step Instructions</center></h4>
Step 1 :Exhale and bend from the hip joints to slowly lower your toes to the floor above and beyond your head. As much as possible, keep your torso perpendicular to the floor and your legs fully extended.<br>
Step 2 :With your toes on the floor, lift your top thighs and tailbone toward the ceiling and draw your inner groins deep into the pelvis. Imagine that your torso is hanging from the height of your groins. Continue to draw your chin away from your sternum and soften your throat.<br>
Step 3 :You can continue to press your hands against the back torso, pushing the back up toward the ceiling as you press the backs of the upper arms down, onto your support. Or you can release your hands away from your back and stretch the arms out behind you on the floor, opposite the legs. Clasp the hands and press the arms actively down on the support as you lift the thighs toward the ceiling.<br>
Step 4 :Halasana is usually performed after Sarvangasana for anywhere from 1 to 5 minutes. To exit the pose bring your hands onto your back again, lift back into Sarvangasana with an exhalation, then roll down onto your back, or simply roll out of the pose on an exhalation.

<h4><center>Contraindications and Cautions</center></h4>

1.Diarrhea<br>
2.Menstruation<br>
3.Neck injury<br>
4.Asthma & high blood pressure: Practice Halasana with the legs supported on props.<br>
5.Pregnancy: If you are experienced with this pose, you can continue to practice it late into pregnancy. However, don't take up the practice of Halasana after you become pregnant.<br>
With the feet on the floor, this pose is considered to be intermediate to advanced. It is not advisable to perform the pose in this way without sufficient prior experience or unless you have the supervision of an experienced instructor.</p>
</body>
</html>

{%endblock%}